name: Test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
    - 'docs/**'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
    - 'docs/**'
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }}-${{ matrix.environment }}-build
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        environment: [test-py311, test-py312]
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.55.0
          environments: ${{ matrix.environment }}

      - name: List installed libraries
        run: |
          pixi install --environment ${{ matrix.environment }}
          pixi list --environment ${{ matrix.environment }}

      - name: Download test images
        run: |
          pixi run -e ${{ matrix.environment }} "dvc remote modify origin url https://${DAGSHUB_TOKEN}@dagshub.com/virtual-zarr/virtual-tiff.dvc --local"
          pixi run -e ${{ matrix.environment }} "dvc pull --no-run-cache"
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

      - name: Running Tests
        run: |
          pixi run -e ${{ matrix.environment }} run-tests-xml-cov

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3.1.4
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
